 <div class="sidenav-right" id="sidenav-right"  style="margin-top:-200px" >
      <div class="wrapper2">
        <div class="header-right-menu">
          <h3>History</h3>
          <span class="glyphicon glyphicon-bell bell" onclick="hideRightMenu()"></span>
        </div>
        <div class="content-right-menu">
          <div class="item-content" style="background-color: yellow;">
            <div class="item-right-menu">
              <b >21</b>
              <p style="display:inline"> MARCH: </p>
              <p style="color:red;display:inline">Your community is doing better than last month, but still on track to exceed the monthly goal.</p>
            </div>
          </div>
          <div class="item-content">
            <div class="item-right-menu">
              <p style="display:inline"> FEBRUARY: </p>
              <p style="color:green;display:inline">Your community met the monthly goal.</p>
            </div>
          </div>
          <div class="item-content">
            <div class="item-right-menu">
              <p style="display:inline"> JANUARY: </p>
              <p style="color:green;display:inline">Your community met the monthly goal.</p>
            </div>
          </div>
          <div class="item-content" style="background-color: #f4d5d5;">
            <div class="item-right-menu">
              <p style="display:inline"> DECEMBER: </p>
              <p style="color:#ff5050;display:inline">Your community missed the monthly goal by a large: 5,000 kWh.</p>
            </div>
          </div>
          <div class="item-content">
            <div class="item-right-menu">
              <p style="display:inline"> NOVEMBER: </p>
              <p style="color:green;display:inline">Your community met the monthly goal.</p>
            </div>
          </div>
          <div class="item-content" style="background-color: #f4d5d5;">
            <div class="item-right-menu">
              <p style="display:inline"> OCTOBER: </p>
              <p style="color:#ff5050;display:inline">Your community missed the monthly goal by a large: 5,000 kWh.</p>
            </div>
          </div>
          <div class="item-content" style="background-color: #f4d5d5;">
              <div class="item-right-menu">
                <p style="display:inline"> SEPTEMBER: </p>
                <p style="color:#ff5050;display:inline">Your community missed the monthly goal by a large: 5,000 kWh.</p>
              </div>
            </div>
            <div class="item-content">
              <div class="item-right-menu">
                <p style="display:inline"> AUGUST: </p>
                <p style="color:green;display:inline">Your community met the monthly goal.</p>
              </div>
            </div>
            <div class="item-content" style="background-color: #f4d5d5;">
              <div class="item-right-menu">
                <p style="display:inline"> JULY: </p>
                <p style="color:#ff5050;display:inline">Your community missed the monthly goal by a large: 5,000 kWh.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <span id="bell1" class="glyphicon glyphicon-bell bell" style="margin-top:-190px; " onclick="displayRightMenu()"></span>
